@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Rubik;
    src: url(/fonts/Rubik.ttf);
}

html {
    --contexify-menu-bgColor: rgba(40,40,40,.98);
    --contexify-separator-color: #4c4c4c;
    --contexify-item-color: #fff;
    --contexify-activeItem-color: #fff;
    --contexify-activeItem-bgColor: #3498db;
    --contexify-rightSlot-color: #6f6e77;
    --contexify-activeRightSlot-color: #fff;
    --contexify-arrow-color: #6f6e77;
    --contexify-activeArrow-color: #fff;
}

body {
    @apply h-screen m-0 overflow-hidden;
}

span {
    font-family: Rubik, "Open Sans", sans-serif;
}

button {
    font-family: Rubik, "Open Sans", sans-serif;
}

/* Global utility classes. */

.lifted {
    box-shadow:
        0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
